<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
	<title>Calculadora</title>
	<link rel="stylesheet" href="original/css/bootstrap.min.css">
	<!--<link rel="stylesheet" href="style.css">-->

</head>
<body>
<div class="container">
<div class="carcasa" ng-controller="control">
	<div class="visor">
		<small>{{preResultado}}</small>
		<h4>123 +123</h4>
	</div>
	<div class="botones1">
		<button class="btn btn-default"ng-click="valBtn(1)">1</button>
		<button class="btn btn-default"ng-click="valBtn(2)">2</button>
		<button class="btn btn-default"ng-click="valBtn(3)">3</button>
		<button class="btn btn-default">4</button>
		<button class="btn btn-default">5</button>
		<button class="btn btn-default">6</button>
		<button class="btn btn-default">7</button>
		<button class="btn btn-default">8</button>
		<button class="btn btn-default">9</button>
		<button class="btn btn-default">.</button>
		<button class="btn btn-default">0</button>
		<button class="btn btn-default"ng-click="reset()">R</button>
	</div>
	<div class="botones2">
		<button class="btn btn-default"ng-click="valBtn('+')">+</button>
		<button class="btn btn-default">-</button>
		<button class="btn btn-default">*</button>
		<button class="btn btn-default">/</button>
	</div>
	<div class="botones3">
		<button class="btn btn-default"ng-click="procesar()">=</button>
	</div>

</div>



</div>
    <script src= "js/angular.min.js"></script>
    <script src="js/jquery-1.11.1.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="calculadora.js"></script>


</body>
</html>
